<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <form (ngSubmit)="onSubmit()">
      
        <div class="container" >
          
          <div class="row">
            
              <input type="text" name ="index" placeholder="index" #val.index="ngModel" [(ngModel)]="val.index" >
            
          </div>
          
          <div class="row">
            <button type="submit">Get Number!</button>
          </div>
        

        </div>
      </form>
      <p>{{val.num | json}}</p>
  </body>


